/* footer */
.footer{
    columns: 2;  
}
.footer p{
    font-family: 'IBM Plex Mono', monospace;
    padding: 3vh 0vw 3vh 7vw;
}
.footer div a{
    height: 22px;
    width: 16px;
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
    color: #060A24; 
}

@media screen and (max-width:768px){
    .footer{
        columns: 1;
    }
    .footer p{
        font-family: 'IBM Plex Mono', monospace;
        margin-left: 20vw;
        margin-right: auto;
    }
    .footer div a{
        height: 22px;
        width: 16px;
        margin-left: 10vw;
        margin-right: auto;
    }
}