/* NAVIGATION BAR STYLES! */

.navlogo{
    margin-top: 4vh;
    margin-left: 5vw;
}

li {
    list-style-type: none;
}

#hamburger{
    display: none;
}

.navbar{
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}